/* HEADER */
header {
    padding: 20px 0;
    background-color: transparent;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    display: grid;
    place-items: center;
    width: 130px;
    height: 22px;
    margin-right: 60px;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-links {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--primary-color);
    padding: 30px 0;
    transition: color 0.2s linear;
}

.header-nav-links:hover,
.header-nav-links:focus {
    color: var(--red-color);
}

.header-contacts {
    padding: 2px 0;
}

.header-addres-list {
    display: flex;
    gap: 36px;
}

.header-address-card {
    display: flex;
}

.header-address-card-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--primary-color);
    font-style: normal;
}

.header-address-card-link {
    font-size: 18px;
    line-height: 1.5;
    color: var(--title-color);
    font-style: normal;
}

.header-address-icon {
    margin-right: 12px;
    width: 40px;
    height: 40px;
}

/* HEADER */

/* HERO */
.hero {
    padding: 60px 0 209px;
}

.bg-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    z-index: -1;

    background-image: url("../img/contacts-page-img/contacts-hero-bg.jpg"),
        linear-gradient(to bottom, #F4F5F6, #F4F5F6);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.page-path {
    font-size: 14px;
    line-height: 1.5;
    color: var(--light-gray);
}

.page-path-dark {
    color: var(--primary-color);
}

.hero-text {
    max-width: 600px;
    font-size: 20px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.page-title {
    max-width: 577px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: var(--title-color);
    text-transform: uppercase;
    margin: 40px 0 24px;
}

/* HERO */

/* CONTACT */

.contact{
    padding: 121px 0 120px;
}

.contact .section-title{
    margin-bottom: 24px;
}

.contact-wrapper{
    display: flex;
    gap: 135px;
    margin-top: 60px;
}

.contact-img{
    border-radius: 6px;
}

.contact-form{
    
}

.contact-form-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 24px 30px;
    margin-bottom: 24px;
}

.contact-label{
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: var(--primary-color);
    font-size: 16px;
    line-height: 160%;
}

.contact-radio-title{
    color: var(--primary-color);
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 20px;
}

.contact-input, .contact-textarea{
    border-radius: 4px;
    border: 1px solid #D7DADD;
    background: var(--cloud);
    padding: 13px 16px;
    outline: none;
}

.contact-input::placeholder,
.contact-textarea::placeholder{
    color: var(--light-gray);
    font-size: 16px;
    line-height: 160%;
}

.contact-input{
    width: 285px;
    height: 52px;
}

.contact-textarea{
    width: 600px;
    height: 128px;

    resize: none;
}

/* radio */
.contact-radio-list{
    display: flex;
    gap: 24px;
}

.contact-radio-label{
    position: relative;
    display: flex;
    gap: 12px;
}

.contact-radio{
    opacity: 0;
}

.decor-radio, .default-radio{
    position: absolute;
    width: 16px;
    height: 16px;
}

.decor-radio{
    opacity: 0;
    z-index: 1;
}

.contact-radio:checked + .decor-radio{
    opacity: 1;
}

/* radio/ */

.checkbox-btn-wrapper{
    display: flex;
    gap: 75px;
    margin-top: 40px;

}

.checkbox-label {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 28px;
    gap: 8px;
    max-width: 315px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--primary-color);
}

.contact-checkbox {
    position: absolute;
    top: 3px;
    left: 0;
    width: 16px;
    height: 16px;
    z-index: 1;
}

.contact-checkbox:checked {
    opacity: 0;
}

.decor-checkbox {
    display: none;
    position: absolute;
    top: 5px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 4px;
}

.contact-checkbox:checked+.decor-checkbox {
    display: block;
}

.contact-btn {
    display: block;
    width: 210px;
    height: 52px;
    border: none;
    border-radius: 4px;

    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--red-color);
}
/* CONTACT */