/* HEADER */
header{
    padding: 20px 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav{
    display: flex;
    align-items: center;
}

.logo{
    display: grid;
    place-items: center;
    width: 130px;
    height: 22px;
    margin-right: 60px;
}

.header-nav-list{
    display: flex;
    gap: 40px;
}

.header-nav-links{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--primary-color);
    padding: 30px 0;
    transition: color .20s linear;
}

.header-nav-links:hover,
.header-nav-links:focus{
    color: var(--red-color);
}

.active-nav-link{
    position: relative;
    color: var(--red-color);
}

.active-nav-link:after{
    position: absolute;
    bottom: -7px;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--red-color);
}

.header-contacts{
    padding: 2px 0;
}

.header-addres-list{
    display: flex;
    gap: 36px;
}

.header-address-card{
    display: flex;
}

.header-address-card-text{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--primary-color);
    font-style: normal;
}

.header-address-card-link{
    font-size: 18px;
    line-height: 1.5;
    color: var(--title-color);
    font-style: normal;
}

.header-address-icon{
    margin-right: 12px;
    width: 40px;
    height: 40px;
}
/* HEADER */
/* HERO */
.hero{
    padding: 220px 0 120px;
    background-image: url('../img/home-page-img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    max-width: 1920px;
    margin: 0 auto;
}

.page-title{
    max-width: 577px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.page-title-part{
    color: var(--red-color);
}

.hero-text{
    max-width: 595px;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
}

.hero-buttons{
    display: flex;
    gap: 24px;
    margin: 61px 0 179px;
}

.hero-link{
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 0 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 3.25;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}

.hero-link:hover,
.hero-link:focus{
    transform: scale(0.99);
    box-shadow: inset 2px 2px 10px rgba(255, 255, 255, 0.15), inset -2px -2px 10px rgba(255, 255, 255, 0.15);
}

.hero-btn{
    font-size: 16px;
    font-weight: 700;
    line-height: 3.25;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    border: none;
    background: var(--red-color);
    padding: 0 40px;
}

.hero-list{
    display: flex;
    gap: 4px;
}

.hero-list-item{
    width: 178px;
    height: 54px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    opacity: 0.6;
}

.active{
    opacity: 1;
}

.hero-item-hr{
    border: 2px solid #fff;
    border-radius: 4px;
}
/* HERO */

/* WE ARE */
.we-are{
    padding: 120px 0 90px;
}

.we-are .section-title{
    margin-bottom: 24px;
}

.we-are-video{
    position: relative;
    border-radius: 4px;
    width: 100%;
    height: 500px;
    margin-top: 60px;
    background-image:linear-gradient(
        to top,
        rgba(30, 33, 44, 0.6),
        rgba(30, 33, 44, 0.6)),
        url('../img/home-page-img/we-are.jpg');
}

.icon-play-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

.icon-volum-off-box{
    position: absolute;
    bottom: 32px;
    left: 32px;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.12);
}


.icon-volum-off{
    height: 20px;
    width: 20px;
}
/* WE ARE */

/* OUR CORE */
.our-core{
    padding: 90px 0 271px;
    position: relative;
}

.our-core .section-title{
    margin-bottom: 24px;
}

.our-core-card {
    display: grid;
    place-items: center;
    text-align: center;
}

.our-core-card-title {
    margin: 24px 0 8px;
}

.our-core-card-text{
    font-size: 16px;
    line-height: 1.6;
    color: var(--secondary-color);
}

.our-core-list{
    display: flex;
    gap: 94px;
    margin-top: 60px;
    text-align: center;
}

.our-core-decor-item{
    height: 188px;
    width: 1px;
    border: 1px solid rgba(228, 228, 228, 0.493);
    border-radius: 50%;
}

.our-core-icons{
    width: 48px;
    height: 48px;
    fill: var(--red-color);
}
/* OUR CORE */

/* ASK A QUESTION */
.question {
    padding: 48px 60px;
    position: absolute;
    bottom: -92px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.question-form {
    display: flex;
    align-items: end;
    gap: 24px;
}

.question-label{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    line-height: 1.5;
}

.question-title{
    margin-bottom: 32px;
    text-align: center;
}

.question-input,
.question-textarea{
    font-size: 14px;
    line-height: 1.5;
    color: var(--primary-color);
    border-radius: 4px;
    border: none;
    outline: 1px solid #D7DADD;
    padding: 11px 16px 12px 16px;
}

.question-input{
    width: 260px;
}

.question-textarea{
    min-width: 414px;
    min-height: 44px;
    resize: none;
}

.form-btn{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    height: 44px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0 32px;
    background-color: var(--red-color);
}
/* ASK A QUESTION */

/* SERVICES */
.services{
    padding: 212px 0 80px;
    background-color: #F4F5F6;
    background-image: url('../img/home-page-img/services-bg.png');
}

.services .section-title{
    margin-bottom: 24px;
}

.services-list{
    display: flex;
    gap: 30px;
    margin: 60px 0 80px;
}

.services-card{
    width: 285px;
    height: 285px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 116% 100%;
    border-radius: 4px;
    outline: 1px solid #E5E8ED;
    background-color: #fff;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    transition: box-shadow .25s ease-in-out .1s;
}

.services-card:hover{
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 26px 24px -10px rgba(30, 33, 44, 0.10), 0px 60px 80px -20px rgba(30, 33, 44, 0.16);
}

.first-services-card{
    background-image: linear-gradient(to top,
            rgba(30, 33, 44, 0.6),
            rgba(30, 33, 44, 0.6)),
    url('../img/services-page-img/construction.jpg');
}

.services-card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
    transition: background-color .25s ease-in-out .1s;
}

.services-card:hover .services-card-info{
    background-color: #ffffff00;
}

.first-services-card{
    background-image: linear-gradient(to top,
        rgba(30, 33, 44, 0.6),
        rgba(30, 33, 44, 0.6)),
    url('../img/services-page-img/construction.jpg');
    background-position: left center;
}

.second-services-card{
    background-image: linear-gradient(to top,
        rgba(30, 33, 44, 0.6),
        rgba(30, 33, 44, 0.6)),
    url('../img/services-page-img/project-development.jpg');
}

.third-services-card{
    background-image:
    linear-gradient(to top,
        rgba(30, 33, 44, 0.6),
        rgba(30, 33, 44, 0.6)),
    url('../img/services-page-img/interior-design.jpg');
}

.fourth-services-card{
    background-image: linear-gradient(to top,
        rgba(30, 33, 44, 0.6),
        rgba(30, 33, 44, 0.6)),
    url('../img/services-page-img/repairs.jpg');
}

.services-card .card-title{
    transition: color .25s ease-in-out .1s;
}

.services-card:hover .card-title{
    color: #fff;
}

.services-info{
    display: flex;
    gap: 40px;
    justify-content: center;
}

.services-icons{
    width: 52px;
    height: 52px;
    margin-bottom: 24px;
    fill: var(--red-color);
    transition: fill .25s ease-in-out .1s;
}

.services-card:hover .services-icons{
    fill: #fff;
}
/* SERVICES */

/* PROJECTS */
.projects{
    padding: 120px 0;
}

.projects-title-container{
    position: relative;
}

.projects-title{
    text-align: left;
    margin-right: 525px;
}

.p-slider-controls{
    position: absolute;
    right: -12px;
    bottom: 0;
    display: flex;
    align-items: center;
}

.p-arrow{
    width: 24px;
    height: 24px;
}

.p-right-arrow{
    fill: #fff;
}

.p-left-arrow-btn, .p-right-arrow-btn{
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
}

.p-right-arrow-btn{
    background-color: var(--red-color);
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.works-card {
    position: relative;
    height: 440px;
    flex-basis: calc((100% - 60px) / 3);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    transition: box-shadow .25s ease-in-out .1s;
}

.works-card:hover,
.works-card:focus {
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.10), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}

.works-card-box {
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: 16px 0 24px;
    text-align: center;
    background-color: #fff;
    border-radius: none;
    width: 100%;
    transform: translateY(68px);
    transition: transform .25s ease-in-out .1s;
}

.works-card:hover .works-card-box,
.works-card:focus .works-card-box {
    transform: translateY(0);
}

.works .card-title {
    margin-bottom: 4px;
}

.works-card-text {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.works-card-link {
    display: inline-block;
    width: 172px;
    height: 44px;
    border: 1px solid var(--red-color);
    border-radius: 4px;
    margin-top: 24px;

    color: var(--red-color);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 314.3%;
    letter-spacing: 0.036em;
    text-transform: uppercase;
    transition: color .25s ease-in-out .1s,
        background-color .25s ease-in-out .1s,
        box-shadow .25s ease-in-out .1s;
}

.works-card-link:hover,
.works-card-link:focus {
    background-color: var(--red-color);
    color: #fff;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.10), 0px 12px 10px -6px rgba(255, 90, 48, 0.13), 0px 26px 24px -10px rgba(255, 90, 48, 0.15), 0px 60px 80px -20px rgba(255, 90, 48, 0.21);
}

.projects-info{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 85px;
}
/* PROJECTS */

/* PARTNERS */
.partners{
    background-color: #F4F5F6;
    padding: 80px 0 90px;
}

.partners-list{
    display: flex;
    justify-content: center;
    gap: 102px;
}

.partners-img {
    width: 120px;
    height: 64px;
    opacity: 0.4;
    transition: opacity 0.25s ease-in-out;
}

.partners-link:hover .partners-img,
.partners-link:focus .partners-img {
    opacity: 1;
}
/* PARTNERS */

/* REVIEWS */

.reviews{
    padding: 95px 0 121px;
    background-color: #F4F5F6;
}

.reviews .container{
    position: relative;
    display: flex;
    gap: 135px;
}

.reviews-info{
    position: relative;
    font-size: 16px;
    line-height: 1.6;
    max-width: 600px;
}

.reviews-avatar{
    border-radius: 50%;
    margin-bottom: 24px;
}

.reviews-text{
    color: var(--primary-color);
}

.reviews-nickname{
    font-weight: 700;
    color: var(--title-color);
    margin: 24px 0 4px;

}

.reviews-position{
    font-size: 14px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.reviews-img{
    position: absolute;
    right: 0;
}

.reviews-slider{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 24px;
}

.reviews-slider-btn{
    padding: 0;
    border: none;
    height: 24px;
    background-color: #F4F5F6;
}

.reviews-slider-icons{
    width: 24px;
    height: 24px;
    fill: var(--primary-color);
}
/* REVIEWS */

/* FACTS */
.facts-news{
    background-image: url('../img/home-page-img/facts-bg.png');
    background-repeat: no-repeat;
    background-position: 0 -73%;
}

.facts{
    color: var(--title-color);
    text-align: center;
    padding: 175px 0 90px;
}

.facts-list{
    display: flex;
    gap: 48px;
    justify-content: center;
}

.facts-card-text{
    font-size: 14px;
    line-height: 1.5;   
}

.circle-progress{
    position: relative;
    margin-bottom: 20px;
    height: 148px;
    
}

.progress-icon{
    width: 148px;
    height: 148px;
}

.circle-progress-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
}
/* FACTS */

/* NEWS */
.news{
    padding:90px 0 120px;
}

.news-page{
    display: flex;
    gap: 30px;
}

.main-news{
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    border-radius: 4px;
    background-color: #fff;
    transition: box-shadow .2s ease-in-out 0.1s;
}

.main-news-content{
    padding: 24px 24px 25px;
}

.main-news-card-title{
    display: block;
    margin-bottom: 12px;
}

.main-news-text {
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-color);
    margin-top: 16px;
}

.other-news-card{
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    transition: box-shadow .2s ease-in-out 0.1s;
}

.other-news-card:first-child{
    margin-bottom: 30px;
}

.news .card-title{
    transition: color .2s ease-in-out 0.1s;
}

.other-news-card:first-child:hover .card-title,
.other-news-card:last-child:hover .card-title,
.main-news:hover .card-title{
    color: var(--red-color);
}

.other-news-content{
    padding: 16px 24px 24px;
}

.other-news-card .card-title{
    display: block;
    margin-bottom: 8px;
}

.news-date-list {
    display: flex;
    gap: 12px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.news-date-decor-item{
    outline:1px solid var(--secondary-color);
    border-radius: 25%;
    height: 12px;
    align-self: center;
    opacity: 0.8;
}

.main-news:hover,
.main-news:focus,
.other-news-card:hover,
.other-news-card:focus{
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.10), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}

.news-info{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}

.news-comments{
    display: flex;
    align-items: center;
    gap: 8px;
}

.news-comment-icon{
    width: 16px;
    height: 16px;
}
/* NEWS */
/* FORM */
.application {
    padding: 80px 0;
    background-image: url('../img/home-page-img/app-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.application .container {
    display: flex;
    justify-content: end;
}

.application-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 495px;
    padding: 48px 40px;
    background-color: #fff;
    border-radius: 4px;
}

.form-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 24px;
}

.app-label,
.checkbox-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--primary-color);
}

.app-label:not(.checkbox-label) {
    margin-bottom: 20px;
}

.app-input,
.app-textarea {
    min-width: 415px;
    padding: 11px 16px 12px;
    border-radius: 4px;
    border: 1px solid var(--gray-400, #D7DADD);
    background: var(--gray-200, #F4F5F6);
    font-size: 14px;
    line-height: 1.5;
    color: var(--primary-color);
}

.app-input {
    max-height: 44px;
}

.app-textarea {
    padding: 11px 16px 12px;
    min-height: 66px;
    resize: none;
}

.app-input::placeholder,
.app-textarea::placeholder {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #9A9CA5;
}

.app-input:focus,
.app-textarea:focus {
    background-color: none;
    outline: none;
}

.checkbox-label {
    position: relative;
    padding: 0 28px;
}

.app-checkbox {
    position: absolute;
    top: 3px;
    left: 0;
    width: 16px;
    height: 16px;
    z-index: 1;
}

.app-checkbox:checked {
    opacity: 0;
}

.decor-checkbox {
    display: none;
    position: absolute;
    top: 3px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 4px;
}

.app-checkbox:checked+.decor-checkbox {
    display: block;
}

.app-btn {
    height: 44px;
    border: none;
    border-radius: 4px;
    margin-top: 24px;
    padding: 0 32px;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--red-color);
}

/* FORM */

/* FOOTER */
footer{
    color: #fff;
    background-color: var(--title-color);
    padding: 80px 0;
}

.logo-form-container{
    display: flex;
}

.footer-logo-info{
    margin-right: 242px;
}

.footer-logo-box{
    display: flex;
    margin-bottom: 24px;
}

.footer-logo{
    width: 142px;
    height: 24px;
}

.footer-logo-list{
    display: flex;
    gap: 16px;
}

.footer-sm-link:hover .footer-sm-icon,
.footer-sm-link:focus .footer-sm-icon{
    fill: var(--red-color);
    opacity: 1;
}

.footer-sm-icon{
    fill: #fff;
    width: 24px;
    height: 24px;
    opacity: 0.6;
    transition: fill .20s ease-in-out,
        opacity .20s ease-in-out;
}

.footer-logo-text{
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.6;
}

.footer-email-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 24px;
}

.footer-input-box{
    display: flex;
}

.footer-input{
    min-width: 364px;
    border-radius: 4px 0 0 4px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-right: none;
    background: rgba(255, 255, 255, 0.12);
    padding: 12px 16px;
    color: #fff;
}

.footer-input:focus{
    outline: none;
    border-color: rgba(255, 255, 255, 0.50);
}

.footer-input::placeholder{
    font-size: 14px;
    line-height: 1.5;
}

.footer-input-btn{
    font-size: 14px;
    font-weight: 700;
    line-height: 3.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--red-color);
    border-radius: 0px 4px 4px 0px;
    border: none;
    padding: 0 25px;
}

.footer-email-text{
    font-size: 12px;
    line-height: 1.5;
    opacity: 0.6;
    margin-top: 16px;
}

.footer-nav-container {
    display: flex;
    gap: 125px;
    margin: 49px 0 38px;
}

.footer-nav {
    display: flex;
    gap: 124px;
}

.footer-nav-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.footer-address{
    font-style: normal;
}

.footer-address-item{
    font-size: 16px;
    line-height: 1.6;
}

.footer-address-item a{
    opacity: 0.6;
    color: #fff;
}

.footer-about-link, .footer-experiense-link{
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    opacity: 0.6;
    transition: color .25s ease-in-out, opacity .25s ease-in-out;
}

.footer-about-link:hover,
.footer-about-link:focus,
.footer-experiense-link:hover,
.footer-experiense-link:focus{
    color: var(--red-color);
    opacity: 1;
}

.footer-nav-container li:not(:last-child){
    margin-bottom: 4px;
}

.copyright-container{
    display: flex;
    justify-content: space-between;
}

.copyright-text{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    line-height: 1.5;
    opacity: 0.6;
}

.heart-icon {
    width: 16px;
    height: 16px;
    opacity: 1;
}

.to-top-link{
    display: flex;
    align-items: end;
    gap: 16px;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
}

.to-top-btn{
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--red-color);
}

.to-top-icon{
    width: 24px;
    height: 24px;
}
/* FOOTER */