/* HEADER */
header {
    padding: 20px 0;
    background-color: transparent;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    display: grid;
    place-items: center;
    width: 130px;
    height: 22px;
    margin-right: 60px;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-links {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--primary-color);
    padding: 30px 0;
    transition: color 0.2s linear;
}

.header-nav-links:hover,
.header-nav-links:focus {
    color: var(--red-color);
}

.header-contacts {
    padding: 2px 0;
}

.header-addres-list {
    display: flex;
    gap: 36px;
}

.header-address-card {
    display: flex;
}

.header-address-card-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--primary-color);
    font-style: normal;
}

.header-address-card-link {
    font-size: 18px;
    line-height: 1.5;
    color: var(--title-color);
    font-style: normal;
}

.header-address-icon {
    margin-right: 12px;
    width: 40px;
    height: 40px;
}

/* HEADER */

/* HERO */
.hero {
    padding: 60px 0;
    height: 508px;
}

.bg-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    z-index: -1;

    background-color: #F4F5F6;
    background-image: url("../img/positions-page-img/positions-hero-bg.png");
    background-repeat: no-repeat;
    background-size: 1014px 506px;
    background-position: right bottom;
}

.page-path {
    font-size: 14px;
    line-height: 1.5;
    color: var(--light-gray);
}

.page-path-dark {
    color: var(--primary-color);
}

.hero-text {
    max-width: 600px;
    font-size: 20px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.page-title {
    max-width: 577px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: var(--title-color);
    text-transform: uppercase;
    margin: 40px 0 24px;
}

/* HERO */

/* POSITIONS */
.positions{
    padding: 120px 0 90px;
}

.positions .container{
    display: flex;
    justify-content: space-between;
}

.positions-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 705px;
    padding: 32px 40px;
    border-radius: 4px;
    border: 1px solid #E5E8ED;
    background: #fff;
    transition: box-shadow .25s ease-in-out .1s;
}

.positions-item:not(:last-child){
    margin-bottom: 24px;
}

.positions-item:hover,
.positions-item:focus{
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.positions-title{
    color: var(--title-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    margin-top: 8px;
}

.positions-info{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.positions-form{
    max-width: 390px;
}

.positions-form-title{
    color: var(--title-color);
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 24px;
}

.positions-form-text{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.positions-form-btn-box{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.positions-btn{
    display: grid;
    place-items: center;
    border-radius: 4px;
    border: 1px solid var(--red-color);
    color: var(--red-color);
    background-color: transparent;
    outline: none;
    width: 151px;
    height: 44px;

    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 3.14;
    letter-spacing: 0.036em;
    text-transform: uppercase;
    transition: background-color .25s ease-in-out .1s,
    color .25s ease-in-out .1s;
}

.positions-btn:hover,
.positions-btn:focus{
    background-color: var(--red-color);
    color: #fff;
}

.positions-form-btn{
    width: 180px;
    height: 52px;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--red-color);

    color: var(--red-color);
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 3.25;
    letter-spacing: 0.031;
    text-transform: uppercase;

    transition: background-color .25s ease-in-out .1s,
    color .25s ease-in-out .1s;
}


.positions-form-btn:hover,
.positions-form-btn:focus{
    background-color: var(--red-color);
    color: #fff;
}

.positions-info-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
}

/* BENEFITS */

.benefits{
    padding: 90px 0 180px;
    text-align: center;
}

.benefits .section-title{
    margin-bottom: 24px;
}

.benefits-list{
    display: flex;
    align-items: center;
    gap: 94px;
    margin-top: 60px;
}

.benefits-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-icon{
    height: 48px;
    width: 48px;
}

.benefits-item .card-title{
    margin: 24px 0 8px;
}

.benefits-text{
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 160%;
}

.benefits-devider{
    min-height: 188px;
    border-left: 0.12em solid rgba(218, 219, 221, 0.50);
    border-radius: 100%;
}

/* BENEFITS */
/* FORM */
.application {
    padding: 80px 0;
    background-image: url('../img/home-page-img/app-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.application .container {
    display: flex;
    justify-content: end;
}

.application-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 495px;
    padding: 48px 40px;
    background-color: #fff;
    border-radius: 4px;
}

.form-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 24px;
}

.app-label,
.checkbox-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--primary-color);
}

.app-label:not(.checkbox-label) {
    margin-bottom: 20px;
}

.app-input,
.app-textarea {
    min-width: 415px;
    padding: 11px 16px 12px;
    border-radius: 4px;
    border: 1px solid var(--gray-400, #D7DADD);
    background: var(--gray-200, #F4F5F6);
    font-size: 14px;
    line-height: 1.5;
    color: var(--primary-color);
}

.app-input {
    max-height: 44px;
}

.app-textarea {
    padding: 11px 16px 12px;
    min-height: 66px;
    resize: none;
}

.app-input::placeholder,
.app-textarea::placeholder {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #9A9CA5;
}

.app-input:focus,
.app-textarea:focus {
    background-color: none;
    outline: none;
}

.checkbox-label {
    position: relative;
    padding: 0 28px;
}

.app-checkbox {
    position: absolute;
    top: 3px;
    left: 0;
    width: 16px;
    height: 16px;
    z-index: 1;
}

.app-checkbox:checked {
    opacity: 0;
}

.decor-checkbox {
    display: none;
    position: absolute;
    top: 3px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 4px;
}

.app-checkbox:checked+.decor-checkbox {
    display: block;
}

.app-btn {
    height: 44px;
    border: none;
    border-radius: 4px;
    margin-top: 24px;
    padding: 0 32px;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--red-color);
}

/* FORM */

/* FOOTER */
footer {
    color: #fff;
    background-color: var(--title-color);
    padding: 80px 0;
}

.logo-form-container {
    display: flex;
}

.footer-logo-info {
    margin-right: 242px;
}

.footer-logo-box {
    display: flex;
    margin-bottom: 24px;
}

.footer-logo {
    width: 142px;
    height: 24px;
}

.footer-logo-list {
    display: flex;
    gap: 16px;
}

.footer-sm-link:hover .footer-sm-icon,
.footer-sm-link:focus .footer-sm-icon {
    fill: var(--red-color);
    opacity: 1;
}

.footer-sm-icon {
    fill: #fff;
    width: 24px;
    height: 24px;
    opacity: 0.6;
    transition: fill .20s ease-in-out,
        opacity .20s ease-in-out;
}

.footer-logo-text {
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.6;
}

.footer-email-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 24px;
}

.footer-input-box {
    display: flex;
}

.footer-input {
    min-width: 364px;
    border-radius: 4px 0 0 4px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-right: none;
    background: rgba(255, 255, 255, 0.12);
    padding: 12px 16px;
    color: #fff;
}

.footer-input:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.50);
}

.footer-input::placeholder {
    font-size: 14px;
    line-height: 1.5;
}

.footer-input-btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 3.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--red-color);
    border-radius: 0px 4px 4px 0px;
    border: none;
    padding: 0 25px;
}

.footer-email-text {
    font-size: 12px;
    line-height: 1.5;
    opacity: 0.6;
    margin-top: 16px;
}

.footer-nav-container {
    display: flex;
    gap: 125px;
    margin: 49px 0 38px;
}

.footer-nav {
    display: flex;
    gap: 124px;
}

.footer-nav-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.footer-address {
    font-style: normal;
}

.footer-address-item {
    font-size: 16px;
    line-height: 1.6;
}

.footer-address-item a {
    opacity: 0.6;
    color: #fff;
}

.footer-about-link,
.footer-experiense-link {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    opacity: 0.6;
    transition: color .25s ease-in-out, opacity .25s ease-in-out;
}

.footer-about-link:hover,
.footer-about-link:focus,
.footer-experiense-link:hover,
.footer-experiense-link:focus {
    color: var(--red-color);
    opacity: 1;
}

.footer-nav-container li:not(:last-child) {
    margin-bottom: 4px;
}

.copyright-container {
    display: flex;
    justify-content: space-between;
}

.copyright-text {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    line-height: 1.5;
    opacity: 0.6;
}

.heart-icon {
    width: 16px;
    height: 16px;
    opacity: 1;
}

.to-top-link {
    display: flex;
    align-items: end;
    gap: 16px;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
}

.to-top-btn {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--red-color);
}

.to-top-icon {
    width: 24px;
    height: 24px;
}

/* FOOTER */